VirtualCellophane.sln
VirtualCellophane/AssemblyInfo.cs
VirtualCellophane/VirtualCellophane.csproj
VirtualCellophane/VirtualCellophane.csproj.user
VirtualCellophane/bin/Debug/net6.0-windows/VirtualCellophane.deps.json
VirtualCellophane/bin/Debug/net6.0-windows/VirtualCellophane.dll
VirtualCellophane/bin/Debug/net6.0-windows/VirtualCellophane.exe
VirtualCellophane/bin/Debug/net6.0-windows/VirtualCellophane.pdb
VirtualCellophane/bin/Debug/net6.0-windows/VirtualCellophane.runtimeconfig.json
VirtualCellophane/bin/Release/net6.0-windows/VirtualCellophane.deps.json
VirtualCellophane/bin/Release/net6.0-windows/VirtualCellophane.dll
VirtualCellophane/bin/Release/net6.0-windows/VirtualCellophane.pdb
VirtualCellophane/bin/Release/net6.0-windows/VirtualCellophane.runtimeconfig.json
VirtualCellophane/obj/project.assets.json
VirtualCellophane/obj/project.nuget.cache
VirtualCellophane/obj/VirtualCellophane.csproj.nuget.dgspec.json
VirtualCellophane/obj/VirtualCellophane.csproj.nuget.g.props
VirtualCellophane/obj/VirtualCellophane.csproj.nuget.g.targets
VirtualCellophane/obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
VirtualCellophane/obj/Debug/net6.0-windows/App.g.cs
VirtualCellophane/obj/Debug/net6.0-windows/App.g.i.cs
VirtualCellophane/obj/Debug/net6.0-windows/apphost.exe
VirtualCellophane/obj/Debug/net6.0-windows/MainWindow.baml
VirtualCellophane/obj/Debug/net6.0-windows/MainWindow.g.cs
VirtualCellophane/obj/Debug/net6.0-windows/MainWindow.g.i.cs
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane.AssemblyInfo.cs
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane.AssemblyInfoInputs.cache
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane.assets.cache
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane.csproj.AssemblyReference.cache
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane.csproj.BuildWithSkipAnalyzers
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane.csproj.CoreCompileInputs.cache
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane.csproj.FileListAbsolute.txt
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane.designer.deps.json
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane.designer.runtimeconfig.json
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane.dll
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane.g.resources
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane.GeneratedMSBuildEditorConfig.editorconfig
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane.genruntimeconfig.cache
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane.pdb
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_34sz4t5r_wpftmp.AssemblyInfo.cs
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_34sz4t5r_wpftmp.AssemblyInfoInputs.cache
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_34sz4t5r_wpftmp.assets.cache
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_34sz4t5r_wpftmp.csproj.BuildWithSkipAnalyzers
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_34sz4t5r_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_alynxi2m_wpftmp.AssemblyInfo.cs
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_alynxi2m_wpftmp.AssemblyInfoInputs.cache
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_alynxi2m_wpftmp.assets.cache
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_alynxi2m_wpftmp.csproj.BuildWithSkipAnalyzers
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_alynxi2m_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_d40h0bu3_wpftmp.AssemblyInfo.cs
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_d40h0bu3_wpftmp.AssemblyInfoInputs.cache
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_d40h0bu3_wpftmp.assets.cache
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_d40h0bu3_wpftmp.csproj.BuildWithSkipAnalyzers
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_d40h0bu3_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_g4cmn2fg_wpftmp.AssemblyInfo.cs
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_g4cmn2fg_wpftmp.AssemblyInfoInputs.cache
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_g4cmn2fg_wpftmp.assets.cache
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_g4cmn2fg_wpftmp.csproj.BuildWithSkipAnalyzers
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_g4cmn2fg_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_hw5ygph4_wpftmp.AssemblyInfo.cs
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_hw5ygph4_wpftmp.AssemblyInfoInputs.cache
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_hw5ygph4_wpftmp.assets.cache
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_hw5ygph4_wpftmp.csproj.BuildWithSkipAnalyzers
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_hw5ygph4_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_invr30j1_wpftmp.AssemblyInfo.cs
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_invr30j1_wpftmp.AssemblyInfoInputs.cache
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_invr30j1_wpftmp.assets.cache
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_invr30j1_wpftmp.csproj.BuildWithSkipAnalyzers
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_invr30j1_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_irtbouov_wpftmp.AssemblyInfo.cs
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_irtbouov_wpftmp.AssemblyInfoInputs.cache
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_irtbouov_wpftmp.assets.cache
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_irtbouov_wpftmp.csproj.BuildWithSkipAnalyzers
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_irtbouov_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_konxtgyd_wpftmp.AssemblyInfo.cs
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_konxtgyd_wpftmp.AssemblyInfoInputs.cache
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_konxtgyd_wpftmp.assets.cache
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_konxtgyd_wpftmp.csproj.BuildWithSkipAnalyzers
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_konxtgyd_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_MarkupCompile.cache
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_MarkupCompile.i.cache
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_MarkupCompile.lref
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_n4odnkmp_wpftmp.AssemblyInfo.cs
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_n4odnkmp_wpftmp.AssemblyInfoInputs.cache
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_n4odnkmp_wpftmp.assets.cache
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_n4odnkmp_wpftmp.csproj.BuildWithSkipAnalyzers
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_n4odnkmp_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_pnhegjis_wpftmp.AssemblyInfo.cs
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_pnhegjis_wpftmp.AssemblyInfoInputs.cache
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_pnhegjis_wpftmp.assets.cache
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_pnhegjis_wpftmp.csproj.BuildWithSkipAnalyzers
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_pnhegjis_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_r5qk1qz3_wpftmp.AssemblyInfo.cs
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_r5qk1qz3_wpftmp.AssemblyInfoInputs.cache
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_r5qk1qz3_wpftmp.assets.cache
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_r5qk1qz3_wpftmp.csproj.BuildWithSkipAnalyzers
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_r5qk1qz3_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_u3lho0g5_wpftmp.AssemblyInfo.cs
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_u3lho0g5_wpftmp.AssemblyInfoInputs.cache
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_u3lho0g5_wpftmp.assets.cache
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_u3lho0g5_wpftmp.csproj.BuildWithSkipAnalyzers
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_u3lho0g5_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_v4snshdr_wpftmp.AssemblyInfo.cs
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_v4snshdr_wpftmp.AssemblyInfoInputs.cache
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_v4snshdr_wpftmp.assets.cache
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_v4snshdr_wpftmp.csproj.BuildWithSkipAnalyzers
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_v4snshdr_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_vp321rzz_wpftmp.AssemblyInfo.cs
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_vp321rzz_wpftmp.AssemblyInfoInputs.cache
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_vp321rzz_wpftmp.assets.cache
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_vp321rzz_wpftmp.csproj.BuildWithSkipAnalyzers
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_vp321rzz_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_vtohzi2q_wpftmp.AssemblyInfo.cs
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_vtohzi2q_wpftmp.AssemblyInfoInputs.cache
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_vtohzi2q_wpftmp.assets.cache
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_vtohzi2q_wpftmp.csproj.BuildWithSkipAnalyzers
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_vtohzi2q_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_w2albbvu_wpftmp.AssemblyInfo.cs
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_w2albbvu_wpftmp.AssemblyInfoInputs.cache
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_w2albbvu_wpftmp.assets.cache
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_w2albbvu_wpftmp.csproj.BuildWithSkipAnalyzers
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_w2albbvu_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_wworyrek_wpftmp.AssemblyInfo.cs
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_wworyrek_wpftmp.AssemblyInfoInputs.cache
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_wworyrek_wpftmp.assets.cache
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_wworyrek_wpftmp.csproj.BuildWithSkipAnalyzers
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_wworyrek_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_xofycu5a_wpftmp.AssemblyInfo.cs
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_xofycu5a_wpftmp.AssemblyInfoInputs.cache
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_xofycu5a_wpftmp.assets.cache
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_xofycu5a_wpftmp.csproj.BuildWithSkipAnalyzers
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_xofycu5a_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_yuvxizu3_wpftmp.AssemblyInfo.cs
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_yuvxizu3_wpftmp.AssemblyInfoInputs.cache
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_yuvxizu3_wpftmp.assets.cache
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_yuvxizu3_wpftmp.csproj.BuildWithSkipAnalyzers
VirtualCellophane/obj/Debug/net6.0-windows/VirtualCellophane_yuvxizu3_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
VirtualCellophane/obj/Debug/net6.0-windows/ref/VirtualCellophane.dll
VirtualCellophane/obj/Debug/net6.0-windows/refint/VirtualCellophane.dll
VirtualCellophane/obj/Release/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
VirtualCellophane/obj/Release/net6.0-windows/App.g.cs
VirtualCellophane/obj/Release/net6.0-windows/App.g.i.cs
VirtualCellophane/obj/Release/net6.0-windows/apphost.exe
VirtualCellophane/obj/Release/net6.0-windows/MainWindow.baml
VirtualCellophane/obj/Release/net6.0-windows/MainWindow.g.cs
VirtualCellophane/obj/Release/net6.0-windows/MainWindow.g.i.cs
VirtualCellophane/obj/Release/net6.0-windows/VirtualCellophane.AssemblyInfo.cs
VirtualCellophane/obj/Release/net6.0-windows/VirtualCellophane.AssemblyInfoInputs.cache
VirtualCellophane/obj/Release/net6.0-windows/VirtualCellophane.assets.cache
VirtualCellophane/obj/Release/net6.0-windows/VirtualCellophane.csproj.AssemblyReference.cache
VirtualCellophane/obj/Release/net6.0-windows/VirtualCellophane.csproj.CoreCompileInputs.cache
VirtualCellophane/obj/Release/net6.0-windows/VirtualCellophane.csproj.FileListAbsolute.txt
VirtualCellophane/obj/Release/net6.0-windows/VirtualCellophane.designer.deps.json
VirtualCellophane/obj/Release/net6.0-windows/VirtualCellophane.designer.runtimeconfig.json
VirtualCellophane/obj/Release/net6.0-windows/VirtualCellophane.dll
VirtualCellophane/obj/Release/net6.0-windows/VirtualCellophane.g.resources
VirtualCellophane/obj/Release/net6.0-windows/VirtualCellophane.GeneratedMSBuildEditorConfig.editorconfig
VirtualCellophane/obj/Release/net6.0-windows/VirtualCellophane.genruntimeconfig.cache
VirtualCellophane/obj/Release/net6.0-windows/VirtualCellophane.pdb
VirtualCellophane/obj/Release/net6.0-windows/VirtualCellophane_3o5fhmfd_wpftmp.AssemblyInfo.cs
VirtualCellophane/obj/Release/net6.0-windows/VirtualCellophane_3o5fhmfd_wpftmp.AssemblyInfoInputs.cache
VirtualCellophane/obj/Release/net6.0-windows/VirtualCellophane_3o5fhmfd_wpftmp.assets.cache
VirtualCellophane/obj/Release/net6.0-windows/VirtualCellophane_3o5fhmfd_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
VirtualCellophane/obj/Release/net6.0-windows/VirtualCellophane_dwcicncn_wpftmp.AssemblyInfo.cs
VirtualCellophane/obj/Release/net6.0-windows/VirtualCellophane_dwcicncn_wpftmp.AssemblyInfoInputs.cache
VirtualCellophane/obj/Release/net6.0-windows/VirtualCellophane_dwcicncn_wpftmp.assets.cache
VirtualCellophane/obj/Release/net6.0-windows/VirtualCellophane_dwcicncn_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
VirtualCellophane/obj/Release/net6.0-windows/VirtualCellophane_MarkupCompile.cache
VirtualCellophane/obj/Release/net6.0-windows/VirtualCellophane_MarkupCompile.i.cache
VirtualCellophane/obj/Release/net6.0-windows/VirtualCellophane_MarkupCompile.lref
VirtualCellophane/obj/Release/net6.0-windows/ref/VirtualCellophane.dll
VirtualCellophane/obj/Release/net6.0-windows/refint/VirtualCellophane.dll
